{% extends "base.html" %}

{% block title %}Добавить материал{% endblock %}

{% block content %}
    <h1>Добавить новый материал</h1>

    <form method="POST">
        <p>
            <label>Название:<br>
                <input type="text" name="title" required>
            </label>
        </p>
        <p>
            <label>Категория:<br>
                <input type="text" name="category" required>
            </label>
        </p>
        <p>
            <label>Автор:<br>
                <input type="text" name="author" required>
            </label>
        </p>
        <p>
            <label>Описание:<br>
                <textarea name="description" rows="5" required></textarea>
            </label>
        </p>
        <p>
            <button type="submit">Добавить</button>
        </p>
    </form>
{% endblock %}